.content {
	flex-grow: 1;

	.bar {
		background-color: #2096F3;

		.search {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			position: 'relative';
			border-radius: 5px;
			height: 50%;
			width: 200px;
			padding-left: 10px;
			padding-right: 10px;
			background-color: rgba($color: #FFF, $alpha: 0.15);
			
			.searchIcon {
				pointer-events: none;
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 10px;
			}

			.input {
				flex: 1;
				color: #FFF;
			}
		}
		.search:hover {
			background-color: rgba($color: #FFF, $alpha: 0.25);
			width: 300px;
		}

		.menu {
			margin-left: -12px;
			margin-right: 20px;
			color: #fff;
		}
		.title {
			flex-grow: 1;
		}
		.button {
			margin-right: 20px;
			color: #fff;
		}
	}

}
