
.search {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: 'relative';
	border-radius: 5px;
	height: 40px;
	width: 200px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: rgba($color: #FFF, $alpha: 0.15);
	transition-duration: 300ms;
	transition-property: width;

	.searchIcon {
		pointer-events: none;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 10px;
	}

	.input {
		color: #FFF;
		flex: 1;
	}
}
.search:hover {
	background-color: rgba($color: #FFF, $alpha: 0.25);
}
