$drawerWidthClose: 65px;

.container {
	display: flex;
	justify-content: center;
	width: $drawerWidthClose;
	flex-shrink: 0;
	white-space: 'nowrap';
	height: 300px;

	.itemIcon {
		display: flex;
		justify-content: center;
		align-items: center;
		width: $drawerWidthClose;
		margin-left: -16px;
	}	
}
