$drawerWidthClose: 65px;

.container {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	flex-shrink: 0;
	white-space: 'nowrap';
	overflow-y: auto;

	.itemIcon {
		display: flex;
		justify-content: center;
		align-items: center;
		width: $drawerWidthClose;
		// margin-left: -16px;
	}
	.itemIconSelected {
		.icon {
			color: white;
		}
	}
}
