$drawerWidth: 240px;
$drawerWidthClose: 65px;
$drawerHeadHeight: 63px;

.content {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: flex-end;

	.bar {
		background-color: #2096F3;
		z-index: 10;
		transition: width 200ms;

		.menu {
			margin-left: -12px;
			margin-right: 20px;
			color: #fff;
		}
		.title {
			flex-grow: 1;
		}
		.input {
			margin-right: 20px;
		}
		.button {
			margin-right: 20px;
			color: #fff;
		}
	}

	.barDrawerOpen {
		width: calc(100% - 241px);
	}

	.drawer {
		display: flex;
		justify-content: center;
		width: $drawerWidthClose;
	  flex-shrink: 0;
		white-space: 'nowrap';
		z-index: 5;
		transition: width 200ms;

		.head {
			display: flex;
			height: $drawerHeadHeight;
			width: $drawerWidthClose;
			justify-content: flex-end;
			align-items: center;
			transition: width 200ms;
		}
	}

	.drawerList {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		width: $drawerWidthClose;
		overflow-x: hidden;
		white-space: nowrap;
		transition: width 200ms;

		.itemIcon {
			display: flex;
			justify-content: center;
			align-items: center;
			width: $drawerWidthClose;
			margin-left: -16px;
		}
	}

	.drawerOpen {
		width: $drawerWidth;
		.head {
			width: $drawerWidth;
			.close {
				margin-right: 10px;
			}
		}
	}

	.main {
		display: flex;
		height: 100%;
		width: calc(100% - 65px);
		transition: width 200ms;
		margin-top: $drawerHeadHeight;
		margin-left: $drawerWidthClose;
	}

	.mainDrawerOpen {
		width: calc(100% - 240px);
		margin-left: $drawerWidth;
	}
}
